In [1]:
s="hello"

In [3]:
s+str(1)

'hello1'

In [4]:
s*10

'hellohellohellohellohellohellohellohellohellohello'

In [6]:
[1,2,3,4,"hello"]*3

[1, 2, 3, 4, 'hello', 1, 2, 3, 4, 'hello', 1, 2, 3, 4, 'hello']

In [7]:
s.upper()

'HELLO'

In [17]:
a="hElLo"
a.lower()

'hello'

In [36]:
b="I love eating chocholates"

In [37]:
b.split() #by default split function takes white space as a delimiter

['I', 'love', 'eating', 'chocholates']

In [38]:
b='I@love@eating@chocholates'
b.split()

['I@love@eating@chocholates']

In [39]:
b='I@love#eating@chocholates'
b.split('@')

['I', 'love#eating', 'chocholates']

In [41]:
b='hdyedAwykjAhew'
b.split('A')    #delimiter will not be a part of final dataset

['hdyed', 'wykj', 'hew']

In [42]:
b.partition('A')  #delimiter will also be a part of final dataset and also partition will seperate only based on the first occurance of delimiter

('hdyed', 'A', 'wykjAhew')

In [44]:
type(b.split('A'))

list

In [45]:
type(b.partition('A'))

tuple

In [46]:
d="kjahdgagdwqwqdcuwqdyh"

In [51]:
d.find('w')  #find() returns the index of the first occurance of that string/char

9

In [53]:
d.find('z')  #returns -1 if the char is not found

-1

In [56]:
f="hello"

In [67]:
f.center(15,'-')

'-----hello-----'

In [68]:
'ajshd\twfhq\thjsfd'.expandtabs()

'ajshd   wfhq    hjsfd'

In [78]:
'my name is {}sree'.format('Bhagya')

'my name is Bhagyasree'

In [88]:
a=input("please give first name\t")
b=input("please give last name\t")
"my name is {}{}".format(a,b)

please give first name	Bhagya
please give last name	Sree

'my name is BhagyaSree'

In [89]:
s="hello"

In [90]:
s.isalnum()

True

In [91]:
s.isalpha()

True

In [92]:
s.isnumeric()

False

In [93]:
s.islower()

True

In [94]:
s.istitle()

False

In [95]:
s.istitle()

False

In [96]:
s.isascii()

True

In [98]:
s.endswith('o')

True

## Lists

In [1]:
a=[1,2,3,4,5,"hello","sudh",4.56,[3,4,5]]
b=[4,6,7,8,"my","name"]

In [2]:
m=[]
for i in a:
    m.append(i)
m

[1, 2, 3, 4, 5, 'hello', 'sudh', 4.56, [3, 4, 5]]

In [3]:
a+b

[1, 2, 3, 4, 5, 'hello', 'sudh', 4.56, [3, 4, 5], 4, 6, 7, 8, 'my', 'name']

In [4]:
b+["Cat"]

[4, 6, 7, 8, 'my', 'name', 'Cat']

In [5]:
list("cat")

['c', 'a', 't']

In [6]:
b.append("jhyyg")  #append always adds the data in last position

In [7]:
b

[4, 6, 7, 8, 'my', 'name', 'jhyyg']

In [8]:
b.insert(3,"oi8se")  #insert will add the data in a specific location

In [9]:
b

[4, 6, 7, 'oi8se', 8, 'my', 'name', 'jhyyg']

In [10]:
b.insert(-1,"kiuwad")

In [11]:
b

[4, 6, 7, 'oi8se', 8, 'my', 'name', 'kiuwad', 'jhyyg']

In [12]:
b.insert(-1,[3,4,5,])

In [13]:
b

[4, 6, 7, 'oi8se', 8, 'my', 'name', 'kiuwad', [3, 4, 5], 'jhyyg']

In [17]:
b.pop()  #by default pop removes data permanently from last index

'kiuwad'

In [15]:
b

[4, 6, 7, 'oi8se', 8, 'my', 'name', 'kiuwad', [3, 4, 5]]

In [18]:
b.pop(2)

7

In [19]:
b

[4, 6, 'oi8se', 8, 'my', 'name']

In [21]:
b[::-1]

['name', 'my', 8, 'oi8se', 6, 4]

In [23]:
b.reverse()

In [24]:
b

['name', 'my', 8, 'oi8se', 6, 4]

In [26]:
n=[3,6,4,5,8,9]
n.sort()

In [27]:
n

[3, 4, 5, 6, 8, 9]

In [28]:
n.sort(reverse=True)

In [29]:
n

[9, 8, 6, 5, 4, 3]

#### List slicing

In [100]:
a=[1,4,10,6,7]
b=[4,4,6,36,9,6,7,4]
c=[1,7,4,8,4,9,3,6,5,3,2,1]
d=[a,b,c]
d

[[1, 4, 10, 6, 7],
 [4, 4, 6, 36, 9, 6, 7, 4],
 [1, 7, 4, 8, 4, 9, 3, 6, 5, 3, 2, 1]]

In [101]:
d[-1]

[1, 7, 4, 8, 4, 9, 3, 6, 5, 3, 2, 1]

In [102]:
d[-1][::2]

[1, 4, 4, 3, 5, 2]

#### Reversing list of lists

In [110]:
d

[[1, 4, 10, 6, 7],
 [4, 4, 6, 36, 9, 6, 7, 4],
 [1, 7, 4, 8, 4, 9, 3, 6, 5, 3, 2, 1]]

In [ ]:
m=[]
d.reverse() 
for i in d:
    m.append(i[::-1])

In [112]:
d

[[1, 7, 4, 8, 4, 9, 3, 6, 5, 3, 2, 1],
 [4, 4, 6, 36, 9, 6, 7, 4],
 [1, 4, 10, 6, 7]]

In [113]:
m

[[1, 2, 3, 5, 6, 3, 9, 4, 8, 4, 7, 1],
 [4, 7, 6, 9, 36, 6, 4, 4],
 [7, 6, 10, 4, 1]]

#### Print 2nd element from the above list of lists

In [114]:
n=[]
for i in m:
    n.append(i[2])

In [115]:
n

[3, 6, 10]

#### Print 2nd element from the above list of lists and multiply it with 2 using list comprehension

In [116]:
[i[2]*2 for i in m]

[6, 12, 20]

In [117]:
s=[1,3,4,2,3]

In [118]:
s.append([4,5,6,"ajehb"])

In [119]:
s

[1, 3, 4, 2, 3, [4, 5, 6, 'ajehb']]

In [124]:
a=[2,2,34,"kwwge"]

In [125]:
a.extend([6,5,7,"ayud"])

In [126]:
a

[2, 2, 34, 'kwwge', 6, 5, 7, 'ayud']

In [128]:
a.extend([3,4,3,2,1,[4,2,4,2]])

In [129]:
a

[2, 2, 34, 'kwwge', 6, 5, 7, 'ayud', 3, 4, 3, 2, 1, [4, 2, 4, 2]]

In [131]:
a.index(7)

6